---
import Navbar from "./Navbar.astro";
import background from "../assets/background.svg";
import "../styles/global.css";
---

<head>
    <title>Welcome to AutoEmulate</title>
</head>

<div id="container">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <main>
        <Navbar />
        <div class="intro">
            <h1>Who we are</h1>
            <h2>
                AutoEmulate is developed at The Alan Turing Institute by a team
                of software engineers and research scientists.
            </h2>
        </div>
        <div class="hero">
            <p>
                <b>Andrew Duncan</b>
                <br />
                Andrew Duncan is Director of Science & Innovation (Fundamental Research
                in DS and AI) at The Alan Turing Institute. He is a senior lecturer
                in Statistics at Imperial College London. He obtained a PhD in Applied
                Mathematics at Warwick before working in Mathematical Modelling at
                Oxford and then Computational Statistics at Imperial College. Until
                recently, he held a joint position as Principal/Lead Scientist position
                at Improbable Defence and Enterprise Insights where he led research
                initiatives at the intersection of digital twins and AI, with applications
                to problems in government, national security, energy and logistics
                and supply chains. Andrew's research has spanned broadly across fundamental
                data science, machine learning and AI, seeking to leverage theory
                and tools from probability theory and partial differential equations
                to answer challenging questions in statistical machine learning and
                AI. He also has a keen interest in industrial collaboration. Over
                the last decade, his team has collaborated across a diverse range
                of UK companies and institutions, working with them to harness principled
                Stats/ML/AI methods to address their most challenging problems.
            </p>
            <br /><br />
            <p>
                <b>Christopher Iliffe Sprague</b>
                <br />
                Chris is a researcher focusing on machine learning and generative
                modeling, particularly interested in integrating concepts from control
                theory into generative models. His work explores methods informed
                by energy landscape curvature. He earned his PhD in Computer Science
                from KTH, Stockholm, where he studied behavior trees and hybrid control
                systems, with an emphasis on formal stability guarantees for robotic
                controllers. He is currently a Senior Research Associate at the Alan
                Turing Institute. His research interests lie at the intersection
                of generative AI and physical systems.
            </p>
            <br /><br />
            <p>
                <b>Ed Chalstrey</b>
                <br />
                Ed is a Research Data Scientist in The Alan Turing Institute's Research
                Engineering Group (REG), with a background in Bioinformatics. In
                the REG, he works on various academic projects providing support
                for collaborators via his skills in research software engineering
                and data science.
            </p>
            <br /><br />
            <p>
                <b>Edwin Brown</b>
                <br />
                [Insert bio]
            </p>
            <br /><br />
            <p>
                <b>Marjan Famili</b>
                <br />
                [Insert bio]
            </p>
            <br /><br />
            <p>
                <b>Martin Stoffel</b>
                <br />
                Martin is a Research Data Scientist at the Alan Turing Institute.
                Before that, he was a Postdoc at the University of Edinburgh researching
                how harmful genetic mutations evolve and impact fitness using large
                genomic datasets. He also recently worked on AI alignment as a Fellow
                in the ‘Principles of Intelligent Behaviour in Biological and Social
                Systems’ program. Next to doing research, Martin has always been
                passionate about open source software and is involved in the development
                of scientific software packages for chemical ecology, genetics, and
                generalised linear mixed models.
            </p>
            <br /><br />
            <p>
                <b>Maya Bronfeld</b>
                <br />
                Maya works as a Senior Programme Manager overseeing a portfolio of
                programmes, including: Fundamental Research in AI and data Science,
                Tools, Practices and Systems (TPS), BridgeAI and Emerging Priorities.
                Maya holds a PhD in Neuroscience and since 2015 has been working
                in research project and programme management roles. She worked across
                a range of research and funding organisations including charity,
                academia and government. Maya supported delivery of large national
                and international research programmes, in the areas of medical and
                clinical research, biomedical technology, data science and AI. Since
                joining the Turing in 2022, Maya held programme management roles
                across a number of programmes, including Health and Medical Science,
                Environment and Sustainability, Fundamental Research and others.
                Maya is passionate about supporting AI and data science research
                programmes in areas of significant societal impact and benefit.
            </p>
            <br /><br />
            <p>
                <b>Maximilian Balmus</b>
                <br />
                [Insert bio]
            </p>
            <br /><br />
            <p>
                <b>Paolo Conti</b>
                <br />
                Paolo Conti is a Research Associate in Fundamental Research in AI
                at The Alan Turing Institute. He holds a PhD in Scientific Machine
                Learning from the Polytechnic University of Milan. His research focuses
                on scientific machine learning, with an emphasis on generative AI,
                reduced-order modeling, multi-fidelity data fusion, equation discovery,
                and system identification from complex multi-modal data to advance
                scientific discovery and improve the efficiency, accuracy, and reliability
                of data-driven methods in physics.
            </p>
            <br /><br />
            <p>
                <b>Radka Jersakova</b>
                <br />
                Radka is passionate about using data science tools in collaboration
                with researchers, research software engineers and external partners
                (industry, government, third sector) to help solve real world problems.
                Most recently, she has worked on projects developing Bayesian spatiotemporal
                models for public health (Turing-RSS Health Data Lab) and building
                a digital twin of UK airspace (Project Bluebird). Prior to joining
                the Turing, she completed a PhD in Cognitive Psychology at the University
                of Leeds.
            </p>
            <br /><br />
            <p>
                <b>Sam Greenbury</b>
                <br />
                [Insert bio]
            </p>
            <br /><br />
            <p>
                <b>Steven Niederer </b>
                <br />
                Professor Steven Niederer is a leading scientist and researcher in
                the field of biomedical engineering. He completed his Bachelor's
                degree in Engineering Science from the University of Auckland, and
                went on to pursue his PhD in Computer Science at the University of
                Oxford, where he focused on the development of mathematical models
                of the cardiovascular system. Steven was Professor of Biomedical
                Engineering at King's College London, before he took up a new position
                at Imperial College London. His research continues to focus on developing
                innovative computational models to further our understanding of cardiovascular
                disease and to help medical professionals make better clinical decisions.
            </p>
            <br /><br />
            <p>
                <b>Tomas Lazauskas</b>
                <br />
                Tomas is Research Computing Team Lead at the Turing. His focus is
                to grow and lead a team developing and administering cloud and high-performance
                computing infrastructure, with a strategic responsibility for the
                Institute’s research computing needs. He works with researchers across
                the Institute, leads projects and makes individual contributions.
                Tomas has a great interest in computer science and in a wide range
                of research domains, where the application of new technology can
                make a difference. He is particularly interested in helping researchers
                to take advantage of research computing, including cloud computing,
                high-performance computing and the internet of things, to facilitate
                cutting edge research in data science. Tomas has a PhD in Mathematical
                Sciences from Loughborough University, which focused on developing
                and applying novel computer simulation techniques to model radiation
                effects in materials. Before joining the Turing, Tomas was a Research
                Associate at UCL, where he developed and maintained in-house software
                to perform complex simulations and turn terabytes of results' data
                into useful information. He also has experience working as a programmer
                in the commercial sector, as well as as an independent developer
                creating mobile applications and financial modelling tools.
            </p>
            <br /><br />
        </div>

        <style>
            #background {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                filter: blur(100px);
            }
            .intro {
                align-items: start;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding: 16px;
                width: 100%;
                margin-top: 100px; /* Adjust this value as needed */
            }

            .hero {
                display: flex;
                align-items: start;
                flex-direction: column;
                justify-content: center;
                padding: 16px;
            }

            h1 {
                font-size: 100px;
                margin-top: 0.25em;
            }

            h2 {
                margin: 0 0 1em;
                font-weight: normal;
                color: #111827;
                font-size: 50px;
            }

            p {
                color: #4b5563;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.006em;
                margin: 0;
                flex: 1;
            }

            #container {
                font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
                    "Nimbus Sans", Arial, sans-serif;
                height: 100%;
            }

            main {
                display: flex;
                justify-content: center;
                flex-direction: column;
                overflow-x: hidden;
            }

            @media screen and (max-width: 768px) {
                #container {
                    display: flex;
                    flex-direction: column;
                }

                h1 {
                    line-height: 1.5;
                }
            }
        </style>
    </main>
</div>

<script>
    window.addEventListener("scroll", function () {
        const navbar = document.getElementById("navbar");
        if (window.scrollY > window.innerHeight / 2) {
            navbar.classList.add("hidden");
        } else {
            navbar.classList.remove("hidden");
        }
    });
</script>
