---
import logo from "../assets/autoemulate_logo.png";
import heart from "../assets/heart.png";
import background from "../assets/background.svg";
import "../styles/global.css";
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<nav class="navbar">
			<img src={logo.src} width="150" alt="AutoEmulate Logo" />
		</nav>
		<div class="intro">
			<h1>Accelerating large-scale simulations with AI.</h1>
			<h2>Replace complex simulations with fast, accurate emulators.</h2>
			<section id="links">
				<a
					class="button"
					href="https://alan-turing-institute.github.io/autoemulate/index.html"
					>Read our docs</a
				>
			</section>
		</div>
		<div class="hero">
			<div class="panel">
				<p class="left-text">
					<b>What are we trying to solve?</b><br />
					For complex systems, the computational cost of simulation poses
					a significant bottleneck. As an example, Cardio-vascular CFD
					models can take hours or even days to run.
				</p>
				<img
					style="text-align: right;"
					width="35%"
					src={heart.src}
					alt="Heart Image"
				/><br />
			</div>
			<div class="panel">
				<img
					style="text-align: left;"
					width="35%"
					src={logo.src}
					alt="AutoEmulate Logo"
				/>
				<p class="right-text">
					<b>Introducing <i>AutoEmulate</i></b><br />
					Replace complex simulations with fast, accurate emulators. Automatically
					fit and compare various emulators, ranging from simple models
					like Radial Basis Functions and Second Order Polynomials to more
					complex models like Support Vector Machines, Gaussian Processes
					and Conditional Neural Processes.
				</p><br /><br />
			</div>
		</div>

		<style></style>
	</main>
</div>
