<!doctype html>
<html lang="en">
    <!-- Thumbnail when sharing site -->
    <meta property="og:title" content="Accelerating large-scale simulations with AI" />
    <meta property="og:description" content="Python library for automatically creating accurate and efficient emulators of complex simulations." />
    <meta property="og:image" content="https://raw.githubusercontent.com/alan-turing-institute/astroemulate/refs/heads/main/src/assets/autoemulate_logo_wide.png" />
    <meta property="og:url" content="https://www.autoemulate.com" />
    <meta property="og:type" content="website" />
	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Autoemulate</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
